<html>
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
    #if($error)
    <p style="color:red;">$error</p>
    #end
<form action="/user/register" method="post">
    <label>Username:</label><br>
    <input type="text" name="username"/><br>
    <label>Password:</label><br>
    <input type="password" id="password" name="password"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"  title="Password pattern not match atleast 8 char long, 1 Small letter, 1 Capital Letter, 1 Digit, 1SpecialChar required."><br><br>
    <input type="submit" value="Register"/>
</form>
<p>Already have an account? <a href="/user/login">Login here</a></p>
</body>
</html>
