<html>
<head>
    <title>Hotel Search</title>
</head>
<body>
<p>
    #if($session.getAttribute("user"))
        #set($currentUser = $session.getAttribute("user"))
        Welcome,  $currentUser.username !!
    #end
</p>

<h1>Hotel Search</h1>


<!-- Search Form -->
<form action="/search" method="get">

    <input type="text" name="query" placeholder="Enter hotel ID or name"  required/>
    <br/>
    <label>
        <input type="radio" name="searchType" value="id" #if($!{param.searchType} == "id")checked#end/> Search by ID
    </label>
    <label>
        <input type="radio" name="searchType" value="name" #if($!{param.searchType} == "name")checked#end/> Search by Name
    </label>
    <br/>
    <input type="submit" value="Search"/>
</form>

    #if($results)
    <h2>Search Results</h2>
    <ul>
        #foreach($hotel in $results)
            <li><a href="/hotel/$hotel.id">$hotel.name</a></li>
        #end
    </ul>
    #end

<br>
<br>
<a href="/user/logout">Logout</a>
</body>
</html>
